@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

@font-face {
  font-family: "Fira Sans Condensed-Light";
  font-display: swap;
  src: local("Fira Sans Condensed-Light-300"),
  url("../../fonts/FiraSansCondensed-LightItalic.woff2") format("woff2"),
  url("../../fonts/FiraSansCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
