.menu {
  min-width: 1400px;
  height: 80px;
  background-color: #777777;
  display: flex;
  overflow: hidden;


  &__nav {
    display: flex;
    justify-content: space-around;
    font-family: 'PT Sans';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    a {
      color: $nav_text;

    }
    a:hover {
      text-decoration: underline;
    }

  }
}

.span {
  width: 2px;
  height: 25px;
  background-color: $nav_text;
  margin-top: 7px;
}

